<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title >New Recipe</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3" style="margin-top: 20px">
            <form th:object="${recipe}" th:action="@{/recipe/}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="card-group">
                    <div class="p-1 w-100">
                        <div class="card">
                            <div class="card-header" style="background-color: cadetblue">
                                <h6>Add/ Edit Recipe Information</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-3 form-group">
                                        <label >Recipe Description</label>
                                        <input type="text" class="form-control" th:field="*{description}">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 form-group">
                                        <label>Category</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <div class="radio">
                                            <label>
                                                <input type="checkbox" value=""/>
                                                Cat 1
                                            </label>
                                        </div>
                                        <div class="radio" th:remove="all">
                                            <label>
                                                <input type="checkbox"/>
                                                Cat 2
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 form-group">
                                        <label >Prep Time</label>
                                        <input type="text" class="form-control" th:field="*{prepTime}">
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Cook Time</label>
                                        <input type="text" class="form-control" th:field="*{cookTime}">
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Difficulty</label>
                                        <select class="form-control">
                                            <option>Hard</option>
                                            <option>Easy</option>
                                            <option>Moderate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 form-group">
                                        <label>Servings</label>
                                        <input type="text" class="form-control" th:field="*{servings}">
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Source</label>
                                        <input type="text" class="form-control" th:field="*{source}">
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Url</label>
                                        <input type="text" class="form-control" th:field="*{url}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-1 w-100">
                        <div class="card">
                            <div class="card-header" style="background-color: cadetblue">
                                <div class="form-row">
                                    <div class="col-md-11">
                                        <h6>Ingredients</h6>
                                    </div>
                                    <div class="col-md-1 form-group">
                                        <a class="btn btn-primary" href="#" role="button">Edit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-md-12 form-row">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient:${recipe.ingredients}"
                                            th:text="${ingredient.description}">1 Teaspoon of Sugar</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-1 w-100">
                        <div class="card">
                            <div class="card-header" style="background-color: cadetblue">
                                <h6>Direction</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-12 form-group">
                                        <textarea class="form-control" th:field="*{directions}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-1 w-100">
                        <div class="card" >
                            <div class="card-header" style="background-color: cadetblue">
                                <h6>Notes</h6>
                            </div>
                            <div class="card-body">
                                 <div class="form-row">
                                     <div class="col-md-12 form-group">
                                        <textarea class="form-control" th:field="*{notes.description}"></textarea>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 form-group">
                            <input class="btn btn-primary" type="submit"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>