<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      crossorigin="anonymous" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        crossorigin="anonymous" th:src="@{webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title th:text="'Recipe Page'">Index Page</title>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class = "row">
        <div class = "col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header" style="background-color: cadetblue">
                    <span class="card-title font-weight-bold">My Recipes!</span>
                </div>
                <div class="card-body">
                <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                    <table class="table table-hover">
                        <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tr th:remove="all">
                            <td>123</td>
                            <td>Tasty Goodnees 1</td>
                            <td><a href="#">View</a></td>
                        </tr>
                        <tr th:remove="all">
                            <td>12333</td>
                            <td>Tasty Goodnees 2</td>
                            <td><a href="#">View</a></td>
                        </tr>
                        <tr th:each="recipe : ${recipes}">
                            <!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
                            <td th:text="${recipe.id}">334</td>
                            <td th:text="${recipe.description}">Tasty Goodnees 3</td>
                            <td><a href="#" th:href="@{'/recipe/show/' + ${recipe.id}}">View</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>